<td>
    <%=subject.count%>
</td>
<td>
    <%=subject.title %>
</td>
<td>
    <%=subject.semester %>
</td>
<td>
    <%=subject.speciality.title %>
</td>
<td>
    <%=subject.teacher.name.first %>
</td>
<td>
    <%=subject.typeOfControl %>
</td>
<td>
    <i class="mdi-action-delete deleteSubject editTools"></i>
    <!-- <i class="mdi-editor-mode-edit editTeacher editTools"></i> -->
</td>
