<!DOCTYPE html>
<html>
<%- include( 'layouts/head'); -%>

    <body>
        <div class="container">
            <%- include( 'layouts/header'); -%>
                <h1><%= error.message %></h1>
                <h2><%= error.status %></h2>
                <pre><%= error.stack %></pre>
            <%- include( 'layouts/footer'); -%>
        </div>
    </body>

</html>
